assets filter=lfs diff=lfs merge=lfs -text
assets/car.obj filter=lfs diff=lfs merge=lfs -text
assets/equi2.png filter=lfs diff=lfs merge=lfs -text
assets/pbr.vs filter=lfs diff=lfs merge=lfs -text
assets/Audi[[:space:]]A7[[:space:]]Sportback[[:space:]]-[[:space:]]OBJ.mtl filter=lfs diff=lfs merge=lfs -text
assets/AudiLicense.png filter=lfs diff=lfs merge=lfs -text
assets/Chrome.mat filter=lfs diff=lfs merge=lfs -text
assets/Aluminium[[:space:]]Notebook[[:space:]]body[[:space:]]by[[:space:]]Amleto.mat filter=lfs diff=lfs merge=lfs -text
assets/Pro.png filter=lfs diff=lfs merge=lfs -text
assets/Tire.png filter=lfs diff=lfs merge=lfs -text
assets/checker.png filter=lfs diff=lfs merge=lfs -text
assets/envMap.jpg filter=lfs diff=lfs merge=lfs -text
assets/envMap2.png filter=lfs diff=lfs merge=lfs -text
assets/Black[[:space:]]Plastic.mat filter=lfs diff=lfs merge=lfs -text
assets/Fin.png filter=lfs diff=lfs merge=lfs -text
assets/Free.png filter=lfs diff=lfs merge=lfs -text
assets/stone.jpg filter=lfs diff=lfs merge=lfs -text
assets/pbr.fs filter=lfs diff=lfs merge=lfs -text
assets/quartz.jpg filter=lfs diff=lfs merge=lfs -text
assets/Rims.mat filter=lfs diff=lfs merge=lfs -text
assets/Rubber.mat filter=lfs diff=lfs merge=lfs -text
assets/out.png filter=lfs diff=lfs merge=lfs -text
